{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'css/lab7.css' %}">
  </head>
  <body>
    <div class="header">
<img src="https://preview.redd.it/nature-inspired-by-firewatch-wallpapers-v0-zpqz9422s5qa1.png?width=1080&crop=smart&auto=webp&s=ee22f585bf0d1f5bcdaa419989a7dcaa11da1d85">  
    </div>
    <div class="articles">
      {% for post in posts %}
      <div class="post post-shadow">
        <h2>
          <a href="{% url 'article_detail' post.id %}">{{ post.title }}</a>
        </h2>
        <button class="fold-button folded">Свернуть</button>
        <div class="post-info">
          <div class="post-author">{{ post.author.username }}</div>
          <div class="post-datetime">{{ post.created_date }}</div>
        </div>
        <p class="post-text">{{ post.get_excerpt }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
  <script src="{% static 'js/helloworld.js' %}"></script>
  <script src="{% static 'js/fold-post.js' %}"></script>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/highlight-post.js' %}"></script>
</html>
